<!DOCTYPE html>
<html id="platform-browser" class="platform-browser">
    <head>
        <title>SlingTV</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <% // The html-webpack-plugin automatically places any CSS bundle here. %>
    </head>
    <body>
        <div id="app"></div>
        <% // The html-webpack-plugin automatically places any JS bundle includes here. %>
    </body>
</html>
