@import '../../styles/app';
#Ribbon {
    padding: 10px 0 20px $left-justify;
    .horizontal-scroll-container {
        display: inline-flex;
        flex: 1;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    .ribbon-title {
        display: block;
        color: #ccc;
        font-eight: 600;
        font-size: 36px;
    }
}